extends layout

block content

  .container-fluid.hospital-container-table(style="width: 500px; padding-bottom: 4rem; margin-top: 5rem;")
    .container.mt-5.hospital-maxw400
      h3.text-center.mb-3 Ingreso al Sistema

      form(action="/usuarios/login" method="POST")
        .form-group.mb-3
          label.form-label Email
          input.form-control(type="text" name="email" required)

        .mb-3
          label.form-label Contraseña
          input.form-control(type="password" name="password" required)
        
        if error
          .alert.alert-danger #{error}

        br

        button.btn.btn-primary.w-100(type="submit") Ingresar