html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Cosas personalizadas */

table td {
  text-align-last: center;
}

table td,
table th {
    text-align: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: .5rem !important;
}

.hospital-avatar {
  object-fit: cover;          /* Ajusta la imagen sin deformarla */
  object-position: center;    /* Centra el recorte */
}

.hospital-perfil {
  background-color: #9e59be;
  object-fit: cover;          /* Ajusta la imagen sin deformarla */
  object-position: center;    /* Centra el recorte */
}

.hospital-bg-base {
  background-color: #fbd70b
}

.hospital-bg-fondo {
  background-color: #33303f
}

.hospital-container-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid grey;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.hospital-maxw400 {
    max-width:400px;
}

.error-page {
  margin-top: 100px;
}

.hideImportant {
  display: none !important;
}

.showImportant {
  display: inline-block !important;
}

.showFlexImportant {
  display: flex !important;
}